@keyframes moveLeft {
  0% {
    opacity: 0;
    transform: translateX(-100vw);
  }

  75% {
    opacity: 1;
    transform: translateX(8rem);
  }

  100% {
    opacity: 1;
    transform: translate(0);
  }
}

@keyframes moveRight {
  0% {
    opacity: 0;
    transform: translateX(100vw);
  }

  75% {
    opacity: 1;
    transform: translateX(-8rem);
  }

  100% {
    opacity: 1;
    transform: translate(0);
  }
}
