.nav-links {
  display: flex;
  list-style: none;

  &__item:not(:last-child) {
    margin-right: 4rem;
  }

  &__link {
    &,
    &:link,
    &:active,
    &:visited {
      border-bottom: 0.25rem solid transparent;
      color: var(--color-white);
      display: inline-block;
      font-size: 3rem;
      font-weight: 500;
      letter-spacing: 0.5rem;
      padding-bottom: 0.5rem;
      text-decoration: none;
      text-transform: uppercase;
      transition: all 0.2s;
    }

    &:hover {
      border-bottom: 0.25rem solid currentcolor;
    }
  }
}
