.note {
  align-items: center;
  border-radius: 1rem;
  background-color: var(--color-white);
  box-shadow: 0 1rem 2rem rgba(51, 51, 51, 0.4);
  display: flex;
  flex-direction: column;
  height: 50rem;
  justify-content: center;
  padding: 2rem;
  width: 100rem;

  &__caption {
    color: var(--color-black);
    font-size: 2rem;
    font-weight: 700;
    line-height: 1.8;
    margin-bottom: 4rem;
    text-transform: uppercase;
    text-align: center;
  }

  &__signature-container {
    height: 5rem;
  }

  &__signature {
    height: 100%;
  }
}
