.nav-bar {
  align-items: center;
  display: flex;
  justify-content: space-between;
  left: 0;
  padding: 2rem;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 2;

  & > .social-links {
    transform: translateY(-0.8rem);
  }
}
